<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snake Robot Simulation Parameters</title>
  </head>

  <body>
    <h1>Enter Parameters for Snake Robot Simulation</h1>
    <form action="/submit" method="post">
      <label for="N">Number of links (N):</label>
      <input type="number" id="N" name="N" value="14" required /><br /><br />

      <label for="m">Mass of link (m):</label>
      <input
        type="number"
        step="0.001"
        id="m"
        name="m"
        value="0.406"
        required
      /><br /><br />

      <label for="l">Link radius (l):</label>
      <input
        type="number"
        step="0.0001"
        id="l"
        name="l"
        value="0.0525"
        required
      /><br /><br />

      <label for="g">Gravitational acceleration (g):</label>
      <input
        type="number"
        step="0.01"
        id="g"
        name="g"
        value="9.81"
        required
      /><br /><br />

      <label for="diameter">Pipeline diameter:</label>
      <input
        type="number"
        step="0.01"
        id="diameter"
        name="diameter"
        value="0.30"
        required
      /><br /><br />

      <label for="diameterInfluence">Diameter influence:</label>
      <input
        type="number"
        step="0.01"
        id="diameterInfluence"
        name="diameterInfluence"
        value="0.10"
        required
      /><br /><br />

      <label for="pipeLength">Pipeline length:</label>
      <input
        type="number"
        step="0.01"
        id="pipeLength"
        name="pipeLength"
        value="3"
        required
      /><br /><br />

      <label for="shotsNumber">Number of shots:</label>
      <input
        type="number"
        id="shotsNumber"
        name="shotsNumber"
        value="50"
        required
      /><br /><br />

      <label for="dt">Time increment (dt):</label>
      <input
        type="number"
        step="0.0001"
        id="dt"
        name="dt"
        value="0.01"
        required
      /><br /><br />

      <label for="ct">Tangential friction coefficient (ct):</label>
      <input
        type="number"
        step="0.0001"
        id="ct"
        name="ct"
        value="0.015"
        required
      /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
